
* {
    margin: 0;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
}

#link {
    margin-left: 30px;
}

.header {
    background-color: #004175;
    color: white;
    padding: 20px;
    padding-left: 30px;
}

.dogs {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    margin-left: 0px;
}

.footer {
    display:flex;
    flex-wrap: wrap;
    font-size: 3em;
    /* border:3px solid red; */
}

.footer img {
    display: flex;
    flex: 1 1 auto;
    /* justify-content: center; */
}

.footer p {
    background-color: #A6A9F0;
    color: white;
    font-weight: bold;
    padding: 100px;
}

.dog-card {
    width: 200px;
    margin: 5px;
    margin-left: 0px;
}

.dog-card img {
    width: 100%;
    padding: 5px;
    
}

.tag li {
    border:solid 1px black;
    border-radius: 25px;
    display: inline-block;
    background-color: #89DEEF;
    padding-inline-start: 0px;
    padding:3px; 
    margin: 1px;
    font-size: .5em;
}


li {
    list-style-type: none;
}